* {
    box-sizing: border-box;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    border:none;
    background-color: none;
}

/* header */

body {
	font-family: "Open Sans", sans-serif;
  }
  
  .container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
  }
  
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
  }
  
  .nav-header {
	margin-right: 20px;
  }
  
  .nav-link {
	color: #777;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 16px;
  }
  
  .banner {
	background-image: url("../img/banner.png");
	height: 235px;
  }

  /* footer */

  .footer {
	background-color: #c2185b;
	color: #fff;
	padding: 10px 110px 30px;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
  }
  
  .footer a {
	color: #fff;
	text-decoration: none;
  }

  .footer h3 {
	font-weight: 900;
  }
  
  .footer .container {
	display: flex;
	justify-content: space-between;
  }
  
  .footer .container div:first-of-type {
	width: 25%;
  }
  
  .categorias,
  .institucional {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
  }

  .institucional {
	  margin-right: 100px;
  }