body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-header {
  margin-right: 20px;
}

.nav-link {
  color: #777;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 16px;
}

.banner {
  background-image: url("../img/banner.png");
  height: 235px;
}

h1 {
  font-weight: 800;
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 68px;
  margin-bottom: 82px;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  margin: 0 105px 207px;
  justify-content: space-between;
  align-items: center;
}

#off {
  background-color: #c2185b;
  height: 662px;
  margin-bottom: 163px;
 }

#off h3 {
  font-weight: 800;
  font-size: 44px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding-top: 61px;
  padding-bottom: 54px;
  text-align: center;
}

.off {
  margin: 0 84px 99px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.off div {
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  width: 260px;
}

.off div .descricao{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin: 13px 0 1px 10px;
}

.off div .preco{
  font-size: 17px;
  font-weight: 400;
  color: #000;
  margin: 0 0 32px 10px;
}

.detalhes {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;
  height: 939px;
  margin: 0 105px 116px;
}

.detalhes div {
  max-width: 513px;
  width: 100%;
}

.detalhes .img4 {
  text-align: center;
}

.detalhes-esq {
  height: 939px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.detalhes-esq div h3 {
  font-weight: 600;
  font-size: 39px;
  font-style: normal;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.detalhes-esq div button {
  width: 403px;
  height: 99px;
  background-color:#C2185B;
  text-align: center;
  padding: 0;
  border: none;
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 39px;
}

.detalhes-esq div button:hover {
  cursor:pointer;
  box-shadow: 6px 7px 14px 1px #C2185B;
}

footer {
  height: 248px;
  padding: 0 105px;
  background-color: #C2185B;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer div{
  width: 300px;
  height: 220px;
  margin-left: 15px;
}

footer div p{
  width: 260px;
  font-style: normal;
  font-size: 14px;
  color:#fff;
  margin-left: 10px;
}

.nav-footer {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
  padding-top: 30px;
}

.nav-footer ul{
  height: 170px;
  list-style: none;
}

.nav-footer .destaque{
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  color: #fff; 
}

.nav-footer ul li {
  padding-top: 7px;
}

.nav-footer ul li a{
  font-size: 16px;
  text-decoration: none;
  color: #fff; 
}

/* trabelhe conosco */

.contact-heading {
  font-size: 40px;
  font-weight: 600;
  color: #575757;
}

.contato {
  display:flex;
}

form, article {
  flex: 1;
}

form {
  display:flex;
  flex-direction: column;
  margin-right: 80px;
  color: #9b9b9b;
}

input, select {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid #9b9b9b;
}

label{
  font-size: 18px;
  margin-bottom: 5px;
}

/* responsividade */

@media (max-width: 824px) {
  body {
    margin: 0 15px;
  }
  
  header{
    padding: 0;
  }
  .nav-header {
    max-width: 200px;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-self:center;
  }

  .nav-header a {
    padding-left: 0;
    padding-top: 8px;
  }

  h1 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .middle {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  .middle img {
    width: 100%;
    margin-bottom: 30px;
  }

  #off {
    height:fit-content;
    margin-bottom: 30px;
  }

  #off h3 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .off {
    margin-bottom: 20px;
  }

  .off div {
    margin-bottom: 20px;
  }

  .detalhes {
    height: fit-content;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  .detalhes-esq {
    height:fit-content;
  }

  .detalhes-esq div {
    text-align: center;
    margin-bottom: 20px;
  }

  .detalhes-esq div h3 {
    font-size: 20px;
    /* margin-left: 157px; */
    width: 200px;
    text-align: center;
  }

  .detalhes-esq div button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
  }

  .detalhes .img4 {
    margin-bottom: 30px;
  }
  
  footer {
    height: fit-content;
    padding: 0 20px;
  }

  footer div {
    width: 100%;
    margin-left: 0;
    height: 190px;
  }
  
  .nav-footer {
    padding: 0;
    margin: 10px 10px;
  }
}