  .frete {
    background-color: #c2185b;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
    position:sticky;
    top: 0px;
  }
  
  .join-us {
    padding: 0 100px;
    margin: 50px 0;
  }
  
  .contact-heading {
    font-size: 40px;
    font-weight: 600;
    color: #575757;
    padding-bottom: 50px;
  }
  
  .contato {
    display: flex;
  }
  
  form,
  article {
    flex: 1;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    color: #9b9b9b;
  }

  article {
    font-size: 16px;
    margin-left: 75px;
  }

  article p{
    margin-bottom: 30px;
  }

  input,
  select,
  textarea {
    margin-bottom: 15px;
    padding: 5px 10px;
    border: solid 1px #9b9b9b;
  }
  
  textarea {
    resize: none;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .options {
    margin-bottom: 5px;
    display: flex;
  }
  
  .options label {
    font-size: 14px;
  }
  
  .options__input-box {
    flex: 1;
  }

  .curriculo {
    margin-bottom: 20px;
  }
  
  .curriculo input {
    display: none;
  }
  
  .curriculo label:nth-child(2) {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    padding: 3px 40px;
    background-color: #c4c4c4;
  }
  
  button[type="submit"] {
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 800;
    background-color: #c2185b;
    padding: 8px 0;
    transition: all 3s;
  }

  button[type="submit"]:hover {
    background-color: #fff;
    color: #c2185b;
  }